body{
  font-family: 'Poppins' !important;
  } 

  .card-todo {
    display: inline-block;
    vertical-align: top;
    border-radius: 25px;
    margin: 7px 7px;
    padding: 7px;
    width: 295px;
    height: 200px;
    color: white;
    background: #ff6e4e;
    cursor: move;
    text-align: left;
    
    box-shadow: 2px 2px 2px #000;
}

/* SignUp and SignIn Forms */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


select{
  height: 42px !important;
}
